eval "$(skogcli config export-env --namespace skogai,claude,openai)" # supabase for "online connected project" envs
source .venv/bin/activate
source .env
# export ACCESS_TOKEN=sbp_v0_ab131ae031a08d8b74e1d553c5dda8b9f4c80389
